
@font-face {
    font-family: 'elements';
    src: url('../fonts/elements.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'text';
    src: url('../fonts/text.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

:root {
    /* colors */
    --background-color: #bae6fd;
    --target-color: #3b82f6;
    --porojects-divs-background: #38bdf8;
    --low-priority-color: #bbf7d0;
    --medium-priority-color: #fef08a;
    --high-priority-color: #fda4af;
    --outdated-color: #e5e7eb;
    --separator-red: #e11d48;
    font-family: 'elements';
}
body {
    display: grid;
    grid-template-rows: 1fr 12fr 0.3fr;
    background-color: var(--background-color);
}
.head {
    width: 100%;
    height: 11vh;
    background-color: var(--target-color);
    font-family: 'elements';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.logo {
    height: 100%;
    width: 40%;
    font-size: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.projectsDiv {
    grid-column: 1 / 2;
    height: 100%;
    /* background-color: rgb(207, 196, 182); */
    border-right: 1vh solid var(--separator-red);
    padding-right: 2vh;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}
.projectsDivHeader {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--target-color);
    font-family: 'elements';
    font-size: 3vh;
    letter-spacing: 0.3vh;
}
.homeProjectDiv {
    grid-row: 2 / 3;
    background-color: var(--low-priority-color);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: var(--target-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.projectsContainer {
    grid-row: 3 / 4;
    /* background-color: rgb(209, 223, 176); */
}
.target {
    border: 0.6vh solid var(--target-color);
}
.projectDiv {
    display: flex;
    justify-content: space-between;
    height: 3vh;
    background-color: var(--porojects-divs-background);
    font-family: 'elements';
    font-size: 2.5vh;
    letter-spacing: 0.1vh;
    color: white;
    padding: 1vh;
    margin: 1vh 0 1vh 0;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.editTodoButton, .deleteTodoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    border: none;
    background-color: white;
    font-size: 2vh;
    color: var(--target-color);
}
.deleteTodoButton {
    margin: 0 0.5vh;
}
.moveTodoButton {
    border-radius: 1vh;
    border: none;
    background-color: white;
    font-size: 2vh;
    font-family: 'elements';
    color: var(--target-color);
}
.projectButtonsContainer {
    display: flex;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}
.editProjectButton {
    width: 3vh;
    height: 2.9vh;
    background-color: white;
    border: 1px; 
    border-radius: 1vh;
    font-size: 2vh;
    color: var(--target-color);
}
.deleteProjectButton {
    width: 3vh;
    height: 3vh;
    background-color: white;
    border: 1px; 
    border-radius: 1vh;
    font-size: 2vh;
    color: var(--target-color);
}
.dropdown {
    position: relative;
    display: inline-block;
    bottom: 0.2vh;

}
.dropdownContent {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 27vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 1;
    border-radius: 1vh;
    padding: 1vh 1vh 1.5vh 1vh;
    font-size: 1.9vh;
    background-color: var(--target-color);
    margin-top: 0.3vh;
    text-align: center;
}
#editProjectName {
    border: none;
    border-radius: 0.5vh;
    margin-top: 0.6vh;
    font-family: 'elements';
    transition: 0.1s;
    margin-right: 0.4vh;
}
#editProjectName:focus {
    outline: none;
    border: 0.3vh solid var(--high-priority-color);
    color: var(--target-color);
    caret-color: var(--high-priority-color);
}
.confirmNewNameButton {
    background-color: white;
    border: 1px;
    border-radius: 0.7vh;
    font-size: 1.7vh;
    color: var(--target-color);
    font-weight: bold;
}
.editProjectErrorDiv {
    font-size: 1.5vh;
    background-color: var(--medium-priority-color);
    color: var(--separator-red);
    padding: 0.4vh 1vh;
    margin-top: 1vh;
    border-radius: 1vh;
    border: 0.4vh solid;
}

.addProjectContainer {
    position: relative;
    grid-row: 4 / 5;
    background-color: var(--low-priority-color);
    border: 0.6vh solid var(--target-color);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--target-color);
    gap: 0.5vh;
    font-size: 2vh;
}

.addProjectButton {
    width: 25vh;
    height: 5vh;
    border: 0.4vh solid var(--target-color);
    background-color: var(--medium-priority-color);
    border-radius: 2vh;
    font-family: 'elements';
    color: var(--target-color);
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#projectNameInputText {
    border: none;
    border-radius: 1vh;
    font-family: 'elements';
    transition: 0.1s;
    width: 23vh;
    height: 3vh;
    color: var(--target-color);
    transition: 0.3s;
}
#projectNameInputText:focus {
    font-size: 2vh;
    outline: none;
    border: 0.5vh solid var(--high-priority-color);
    color: var(--target-color);
    caret-color: var(--high-priority-color);
}
.projectNameConfirmBtn, .projectNameCancelBtn{
    height: 3.5vh;
    width: 3.5vh;
    background-color: white;
    border: 0.4vh solid var(--target-color);
    border-radius: 1vh;
    color: var(--target-color);
    font-size: 1.7vh;
    font-weight: bold;
}
.validationMessageDiv {
    display: none;
}
.validationMessageDiv.visible {
    display: block;
    position: absolute;
    font-size: 1.5vh;
    background-color: var(--medium-priority-color);
    color: var(--separator-red);
    padding: 0.4vh 1vh;
    margin-bottom: 8vh;
    margin-left: 17vh;
    border-radius: 1vh;
    border: 0.4vh solid;
    white-space: nowrap;
}
.todosDiv {
    grid-column: 2 / 3;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr 10fr 1fr;
    margin: 0 3vh 0 3vh;
    color: var(--target-color);
    border-radius: 1vh;
}
.todoDivHeader {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    color: var(--target-color);
    font-family: 'elements';
}
.todoDataHeaderDiv {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr 1fr;
    padding: 0.25% 0.5%;
    font-size: 2.5vh;
    color: var(--target-color);
    font-family: 'elements';
    border-bottom: 1vh solid var(--separator-red);
}
.todoDataHeaderDiv > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.allTodosButton {
    background-color: var(--low-priority-color);
    align-self: center;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3%;
    margin-right: 2%;
    
}
.todosContainer {
    grid-row: 3 / 4;
    margin-top: 1.5vh;
}
.todoDiv {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr 0.5fr 0.25fr 0.25fr;
    margin: 1% 0;
    height: 5vh;
    align-items: center;
    border-radius: 1vh;
    padding-right: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.High {
    background-color: var(--high-priority-color);
}
.Medium {
    background-color: var(--medium-priority-color);
}
.Low {
    background-color: var(--low-priority-color);
}
.moveTodoProjects{
    position: relative;
    display: inline-block;
}
.moveTodoDropdownHomeProject {
    padding: 1vh;
    background-color: var(--porojects-divs-background);
    border-radius: 2vh;
    margin-bottom: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.moveTodoDropdownProjectDiv {
    padding: 1vh;
    background-color: var(--porojects-divs-background);
    border-radius: 2vh;
    margin-bottom: 1.3vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.moveTodoDropdownProjectDiv, .moveTodoDropdownHomeProject {
    text-align: center;
}
.moveTodoDropdownProjectDiv:hover, .moveTodoDropdownHomeProject:hover {
    border: 0.4vh solid var(--separator-red);
}
.moveTodoProjectsDropdownContainer {
    display: block;
    position: absolute;
    background-color: var(--target-color);
    border-radius: 2vh;
    min-width: 30vh;
    margin-right: 5.9vh;
    color: white;
    border: 0.5vh solid white;
    right: 0;
    top: 100%;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 1;
}
.todoDiv > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.targetTodo {
    border: 0.6vh solid var(--target-color);
}
.todoOptionsContainer {
    display: grid;
    grid-template-columns: 0.8fr 2fr 0.5fr 1.2fr 0.5fr 0.75fr 0.75fr 0.75fr 0.5fr 3fr 0.25fr 0.25fr;
    grid-template-rows: 1fr 1.5fr;
    grid-row: 4 / 5;
    background-color: var(--low-priority-color);
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 0.6vh solid var(--target-color);
    border-radius: 2vh;
    gap: 0.5vh;
}
.todoOptionsContainer > input[type=text], input[type=textarea], input[type=date], input[type=time], select {
    border: none;
    height: 3vh;
    border-radius: 1vh;
    font-family: 'elements';
    color: var(--target-color);
    background-color: white;
    padding: 0 1vh;
    transition: 0.3s;
}
.todoOptionsContainer > input[type=text]:focus, input[type=textarea]:focus, input[type=date]:focus, input[type=time]:focus {
    outline: none;
    border: 0.5vh solid var(--high-priority-color);
    color: var(--target-color);
    caret-color: var(--high-priority-color);
}
.todoCreateConfirmBtn, .todoCreateCancelBtn, .todoEditConfirmBtn {
    width: 3.5vh;
    height: 3vh;
    background-color: white;
    border: 0.4vh solid var(--target-color);
    border-radius: 1vh;
    color: var(--target-color);
    font-size: 1.6vh;
    font-weight: bold;
}
.addTODOButton {
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    width: 30%;
    height: 80%;
    align-self: center;
    justify-self: center;
    width: 38vh;
    height: 6vh;
    border: 0.5vh solid var(--target-color);
    background-color: var(--medium-priority-color);
    border-radius: 2vh;
    font-family: 'elements';
    color: var(--target-color);
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.confirmAndDropdown {
    position: relative;
    display: inline-block;
}

.todoDataError {
    position: absolute;
    display: block;
    z-index: 1;
    width: max-content;
    right: 0.5vh;
    bottom: 3.3vh;
    background-color: var(--medium-priority-color);
    color: var(--separator-red);
    margin-bottom: 0.3vh;
    border: solid;
    padding: 0.5vh 3vh;
    border-radius: 1vh;

}
.todoOptionsContainer > label {
    justify-self: center;
}
.todoCreateDivHeader {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    justify-self: center;
    border-bottom: 0.5vh solid var(--separator-red);
}
.todoEditDivHeader {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    justify-self: center;
    border-bottom: 0.5vh solid var(--separator-red);
}
.footer {
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    height: 4vh;
    justify-content: center;
    gap: 1%;
    background-color: white;
    margin-top: 0.5vh;
}
.gitIcon {
    height: 3vh;
}
.outdatedTodo{
    text-decoration: line-through;
    background-color: gray;
}
.gitIcon {
    transition: transform .4s ease-in-out;
}
.gitIcon:hover {
    color: var(--separator-red);
    transform: rotate(360deg) scale(1.2);
}

.todoCreateConfirmBtn, .todoCreateCancelBtn, .todoEditConfirmBtn,
 .addProjectButton, .addTODOButton, .moveTodoButton, .editTodoButton,
 .deleteTodoButton, .editProjectButton, .deleteProjectButton, .confirmNewNameButton, 
 .projectNameConfirmBtn, .projectNameCancelBtn, .gitIcon {
    cursor:pointer;
 }
 .todoCreateConfirmBtn, .todoCreateCancelBtn, .todoEditConfirmBtn,
.moveTodoButton, .editTodoButton, .deleteTodoButton, .editProjectButton, 
.deleteProjectButton, .confirmNewNameButton, .projectNameConfirmBtn, .projectNameCancelBtn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }